.parking-request{
    margin: 30px;
}

.modal-img{
    max-width: 300px;
    margin: 0 auto;
}
.modal-img img{
    width: 100%;
}

/* Parking */
.reserve-coutas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0px;
}
.reserve-coutas p{
    margin: 0;
}

.reserve-coutas-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.reserve-coutas span{
    font-weight: 600;
}
.modal-body p{
    margin: 2px 0px;
}
.bg-pdfviewer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.viewer-print{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.viewer-print_btn{
    background-color: #444;
    text-align: center;
}

.viewer-print_btn button{
    color: var(--colorWhite);
    background-color: transparent;
    border: none;
    padding: 10px;
}
