.reports{
    margin: 30px;
}
.reports > h3{
    color: var(--colorMain);
}
.report-header-seekers{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.report-header-seekers input{
    border: 1px solid var(--colorSecundary);
    border-radius: 10px;
}
.report-header-seekers select{
    border: 1px solid var(--colorSecundary);
    border-radius: 10px;
    background-color: transparent;
    outline: none;
}

/* LIST DE REPORTS */
.parking-header-report{
    display: flex;
    gap: 10px;
}
.parking-header-report > button{
    background-color: var(--colorWhite);
    padding: 5px 50px;
    border-radius: 10px;
    border: none;
    border: 1px solid var(--colorMain);
    margin: 10px 0px;
    color: var(--colorMain);
}