.parking{
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.parking-grilla{
    background-color: rgb(163, 163, 163);
    display: grid;
    place-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.place{
    width: 100%;
    min-height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.place p{
    margin: 0;
}
.place-available{
    background-color: var(--colorGreen);
}   
.place-disabled{
    background-color: var(--colorRed);
}
.place-road{
    background-color: orange;
}
.place-request{
    background-color: var(--colorMain);
}
.place-couta{
    background-color: var(--colorGreen);
}
.parking-header{
    display: flex;
    gap: 10px;
}
.btn-main__orange{
    background-color: orange;
}
.parkings-header{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.parkings-header > button{
    background-color: var(--colorMain);
    color: var(--colorWhite);
    padding: 5px 50px;
    border-radius: 10px;
    border: none;
}
.selected{
    color: black;
    opacity: 0.8;
}
.btn-parking__green{
    border: 1px solid var(--colorGreen);
    color: var(--colorGreen);
}
.btn-parking__red{
    border: 1px solid var(--colorRed);
    color: var(--colorRed);
}
.btn-parking__purple{
    border: 1px solid var(--colorMain);
    color: var(--colorMain);
}
.btn-parking__orange{
    border: 1px solid orange;
    color: orange;
}

.cursor-pointer{
    cursor: pointer;
}